/* Custom font */
/* Comment this out if you don't have iA Writer Duospace installed */
.cm-s-obsidian {
  font-family: 'iAWriterDuospace-Regular', 'iA Writer Duospace', 'Source Code Pro', 'Microsoft YaHei Light', monospace;
}

/* Collapsing sidedocks */
.app-container.is-left-sidedock-collapsed .side-dock.mod-left:not(:hover), .app-container.is-right-sidedock-collapsed .side-dock.mod-right:not(:hover) {
  width: 0px !important;
}

/* Clean header */
.workspace-leaf-header {
  background-color: var(--background-primary) !important;
  border-bottom: 0px !important;
}

/* Cleaner status bar */
.status-bar {
  background-color: var(--background-primary);
  color: var(--text-faint);
}

/* Sidedocks icons */
.side-dock-ribbon-tab, .side-dock-ribbon-action {
  color: var(--text-muted);
}
.side-dock-ribbon-tab:hover, .side-dock-ribbon-action:hover {
  color: var(--text-normal);
}


/* Markdown syntax highlighting */
/* Headers */
.cm-formatting-header {
  color: var(--text-faint) !important;
  font-weight: 200 !important;
}
.HyperMD-header-1 {
  font-size: 18pt !important;
}
.HyperMD-header-2 {
  font-size: 16pt !important;
}
.HyperMD-header-3 {
  font-size: 14pt !important;
}
/* Lists */
.cm-formatting-list {
  color: var(--text-faint) !important;
}
/* Quote */
.cm-formatting-quote {
  color: var(--text-faint) !important;
}


/* --------------- */
/* Custom colors */
.theme-dark {
  --background-primary: #000;
  --background-secondary: #000;

  --text-normal: #dedcde;
  --text-accent:  #94a8b3;
  --text-accent-hover: #83959e;
}

.theme-light {
  --text-accent:  #6b8c9c;
  --text-accent-hover: #81a7b9;
}